openapi: 3.1.0
info:
  title: Method Account Attributes Managed Accounts API
  version: '2025-12-01'
  license:
    name: Proprietary
    url: https://methodfi.com
  description: "The Method API enables you to retrieve financial data, create payments, and manage\nentities and accounts programmatically. This specification covers the public API\nsurface for version `2025-12-01`.\n\n## Authentication\n\nMost API requests require a Bearer token in the `Authorization` header.\nUse your secret key (`sk_...`) for server-side requests and public key (`pk_...`)\nfor client-side Element requests. Public Message-Level Encryption key discovery\nendpoints are documented separately and do not require authentication.\n\n## Versioning\n\nThe API version is selected via the `Method-Version` header. This spec targets\nversion `2025-12-01`. The SDK sets this header automatically.\n\n## Response Envelope\n\nMost JSON responses are wrapped in a standard envelope:\n\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"message\": null\n}\n```\n\nThe `/.well-known/jwks.json` endpoint is an exception and returns a bare JWK set.\n\n## Pagination\n\nList endpoints return pagination metadata in response headers:\n`Pagination-Page`, `Pagination-Page-Count`, `Pagination-Page-Limit`,\n`Pagination-Total-Count`, `Pagination-Page-Cursor-Prev`, `Pagination-Page-Cursor-Next`.\n\n## Expandable Fields\n\nCertain resource fields can be expanded from IDs to full objects using the\n`expand` query parameter. Maximum nesting depth is 4 levels.\n"
  contact:
    name: Method Financial
    url: https://methodfi.com
    email: team@methodfi.com
servers:
- url: https://production.methodfi.com
  description: Production
- url: https://sandbox.methodfi.com
  description: Sandbox
- url: https://dev.methodfi.com
  description: Development
security:
- SecretKey: []
tags:
- name: Managed Accounts
  description: Method-managed accounts
paths:
  /managed_accounts:
    get:
      operationId: listManagedAccounts
      summary: List all managed accounts
      description: Returns all managed accounts for the team.
      tags:
      - Managed Accounts
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      responses:
        '200':
          description: A list of managed accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAccountListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /managed_accounts/{macc_id}:
    get:
      operationId: retrieveManagedAccount
      summary: Retrieve a managed account
      description: Returns a single managed account by its identifier.
      tags:
      - Managed Accounts
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - name: macc_id
        in: path
        required: true
        description: Unique identifier for the managed account.
        schema:
          type: string
          pattern: ^macc_\w+$
      responses:
        '200':
          description: The requested managed account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /managed_accounts/{macc_id}/transactions:
    get:
      operationId: listManagedAccountTransactions
      summary: List managed account transactions
      description: Returns a paginated list of transactions for a specific managed account.
      tags:
      - Managed Accounts
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - name: macc_id
        in: path
        required: true
        description: Unique identifier for the managed account.
        schema:
          type: string
          pattern: ^macc_\w+$
      - name: page_limit
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
      - $ref: '#/components/parameters/PageCursorParam'
      - $ref: '#/components/parameters/FromDateParam'
      - $ref: '#/components/parameters/ToDateParam'
      responses:
        '200':
          description: A paginated list of transactions for the managed account.
          headers:
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAccountTransactionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  schemas:
    ErrorObject:
      type: object
      required:
      - type
      - code
      - message
      properties:
        type:
          type: string
          description: Error type category.
          enum:
          - invalid_request
          - api_error
          - resource_error
        code:
          type: integer
          description: Numeric error code. Common codes include 400 (bad request), 401 (unauthorized), 403 (forbidden), 404 (not found), 422 (unprocessable entity), 429 (rate limited), and 500 (internal error).
        sub_type:
          type:
          - string
          - 'null'
          description: More specific error classification.
        message:
          type: string
          description: Human-readable error description.
    ManagedAccountResponse:
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ManagedAccount'
    ManagedAccountTransactionListResponse:
      allOf:
      - $ref: '#/components/schemas/ListEnvelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ManagedAccountTransaction'
    ManagedAccountTransaction:
      type: object
      description: A transaction on a managed account.
      required:
      - id
      - description
      - date
      - amount
      properties:
        id:
          type: string
          description: Unique identifier for the transaction.
          pattern: ^macc_txn_\w+$
          example: macc_txn_aTJMbnCjw34yQ
        description:
          type: string
          description: Human-readable description of the transaction.
        date:
          type: string
          format: date
          description: Date the transaction occurred (YYYY-MM-DD).
        amount:
          type: number
          description: Transaction amount in cents. Positive for inbound/credit transactions, negative for outbound/debit transactions.
    ManagedAccountListResponse:
      allOf:
      - $ref: '#/components/schemas/ListEnvelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ManagedAccount'
    ManagedAccount:
      type: object
      description: A Managed Account is a Method-managed financial account used for fund operations.
      required:
      - id
      - routing
      - number
      - current_balance
      - available_balance
      properties:
        id:
          type: string
          description: Unique identifier for the managed account.
          pattern: ^macc_\w+$
          example: macc_3mDnkR8Ft6Bx7
        routing:
          type: string
          description: Bank routing number for the managed account.
        number:
          type: string
          description: Bank account number for the managed account.
        current_balance:
          type: number
          description: Current balance of the managed account in cents.
        available_balance:
          type: number
          description: Available balance of the managed account in cents.
    ErrorEnvelope:
      type: object
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `false` for error responses.
        data:
          type: object
          required:
          - error
          properties:
            error:
              $ref: '#/components/schemas/ErrorObject'
        message:
          type: string
    ListEnvelope:
      type: object
      description: Standard envelope for successful responses that return a list payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific list payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: []
        message: null
    SuccessEnvelope:
      type: object
      description: Standard envelope for successful responses that return a single payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific response payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: {}
        message: null
  responses:
    RateLimited:
      description: Too many requests - rate limit exceeded.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Not found - the requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Unauthorized - missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  parameters:
    FromDateParam:
      name: from_date
      in: query
      required: false
      description: Filter results from this date (inclusive, YYYY-MM-DD format).
      schema:
        type: string
        format: date
    PageCursorParam:
      name: page_cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination. Use the value from `Pagination-Page-Cursor-Next` or `Pagination-Page-Cursor-Prev` response headers.
      schema:
        type: string
    ToDateParam:
      name: to_date
      in: query
      required: false
      description: Filter results to this date (inclusive, YYYY-MM-DD format).
      schema:
        type: string
        format: date
    method_version:
      name: Method-Version
      in: header
      required: true
      description: 'API version to use for this request. This spec targets `2025-12-01`.

        The SDK sets this header automatically.

        '
      schema:
        type: string
        enum:
        - '2025-12-01'
        default: '2025-12-01'
  headers:
    Pagination-Page-Cursor-Next:
      description: Cursor for the next page, if available.
      schema:
        type:
        - string
        - 'null'
    Pagination-Page-Limit:
      description: Number of items per page.
      schema:
        type: integer
  securitySchemes:
    OpalToken:
      type: http
      scheme: bearer
      description: 'Opal token authentication for Opal session endpoints. Use an Opal token (`otkn_...`)

        as the Bearer token. Created via POST /opal/token using a secret key.

        '
    SecretKey:
      type: http
      scheme: bearer
      description: 'Secret key authentication. Use your team''s secret key (`sk_...`) as the Bearer token.

        All authenticated API endpoints require this scheme unless otherwise noted.

        '
