openapi: 3.1.0
info:
  title: Method Account Attributes Entity Subscriptions API
  version: '2025-12-01'
  license:
    name: Proprietary
    url: https://methodfi.com
  description: "The Method API enables you to retrieve financial data, create payments, and manage\nentities and accounts programmatically. This specification covers the public API\nsurface for version `2025-12-01`.\n\n## Authentication\n\nMost API requests require a Bearer token in the `Authorization` header.\nUse your secret key (`sk_...`) for server-side requests and public key (`pk_...`)\nfor client-side Element requests. Public Message-Level Encryption key discovery\nendpoints are documented separately and do not require authentication.\n\n## Versioning\n\nThe API version is selected via the `Method-Version` header. This spec targets\nversion `2025-12-01`. The SDK sets this header automatically.\n\n## Response Envelope\n\nMost JSON responses are wrapped in a standard envelope:\n\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"message\": null\n}\n```\n\nThe `/.well-known/jwks.json` endpoint is an exception and returns a bare JWK set.\n\n## Pagination\n\nList endpoints return pagination metadata in response headers:\n`Pagination-Page`, `Pagination-Page-Count`, `Pagination-Page-Limit`,\n`Pagination-Total-Count`, `Pagination-Page-Cursor-Prev`, `Pagination-Page-Cursor-Next`.\n\n## Expandable Fields\n\nCertain resource fields can be expanded from IDs to full objects using the\n`expand` query parameter. Maximum nesting depth is 4 levels.\n"
  contact:
    name: Method Financial
    url: https://methodfi.com
    email: team@methodfi.com
servers:
- url: https://production.methodfi.com
  description: Production
- url: https://sandbox.methodfi.com
  description: Sandbox
- url: https://dev.methodfi.com
  description: Development
security:
- SecretKey: []
tags:
- name: Entity Subscriptions
  description: Subscriptions for entities
paths:
  /entities/{entityId}/subscriptions:
    get:
      operationId: listEntitySubscriptions
      summary: List all entity subscriptions
      description: Returns a list of subscriptions for the specified entity.
      tags:
      - Entity Subscriptions
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/EntityIdParam'
      responses:
        '200':
          description: A list of entity subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySubscriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createEntitySubscription
      summary: Create an entity subscription
      description: Creates a new subscription for the specified entity.
      tags:
      - Entity Subscriptions
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/idempotency_key'
      - $ref: '#/components/parameters/EntityIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntitySubscriptionRequest'
      responses:
        '200':
          description: The created entity subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/subscriptions/{subId}:
    get:
      operationId: retrieveEntitySubscription
      summary: Retrieve an entity subscription
      description: Returns a single entity subscription by its identifier.
      tags:
      - Entity Subscriptions
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/EntityIdParam'
      - $ref: '#/components/parameters/EntitySubscriptionIdParam'
      responses:
        '200':
          description: The requested entity subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteEntitySubscription
      summary: Delete an entity subscription
      description: Deletes an entity subscription by its identifier.
      tags:
      - Entity Subscriptions
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/idempotency_key'
      - $ref: '#/components/parameters/EntityIdParam'
      - $ref: '#/components/parameters/EntitySubscriptionIdParam'
      responses:
        '200':
          description: The deleted entity subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  responses:
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: Too many requests - rate limit exceeded.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Forbidden:
      description: Forbidden - insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Not found - the requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Unauthorized - missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    UnprocessableEntity:
      description: Unprocessable entity - the request was valid JSON but failed business or validation rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    ErrorObject:
      type: object
      required:
      - type
      - code
      - message
      properties:
        type:
          type: string
          description: Error type category.
          enum:
          - invalid_request
          - api_error
          - resource_error
        code:
          type: integer
          description: Numeric error code. Common codes include 400 (bad request), 401 (unauthorized), 403 (forbidden), 404 (not found), 422 (unprocessable entity), 429 (rate limited), and 500 (internal error).
        sub_type:
          type:
          - string
          - 'null'
          description: More specific error classification.
        message:
          type: string
          description: Human-readable error description.
    EntitySubscription:
      type: object
      required:
      - id
      - name
      - status
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the entity subscription.
          example: sub_JMDEwMTY1QwMj
        name:
          type: string
          description: Name of the subscription.
        status:
          type: string
          description: Current status of the subscription.
          enum:
          - active
          - inactive
        payload:
          type:
          - object
          - 'null'
          description: Subscription payload data.
        latest_request_id:
          type:
          - string
          - 'null'
          description: ID of the latest request for this subscription.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the subscription was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the subscription was last updated.
    EntitySubscriptionListResponse:
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            type: object
            description: Object keyed by subscription name with EntitySubscription values.
            additionalProperties:
              $ref: '#/components/schemas/EntitySubscription'
    CreateEntitySubscriptionRequest:
      type: object
      required:
      - enroll
      properties:
        enroll:
          type: string
          description: Subscription name to enroll.
          enum:
          - attribute
          - connect
          - credit_score
        payload:
          type:
          - object
          - 'null'
          description: Optional payload for the subscription. Required when enroll is attribute.
          properties:
            attributes:
              type: object
              description: Attributes configuration for the subscription.
              properties:
                requested_attributes:
                  type: array
                  description: List of attribute names to request.
                  items:
                    type: string
    EntitySubscriptionResponse:
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/EntitySubscription'
    ErrorEnvelope:
      type: object
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `false` for error responses.
        data:
          type: object
          required:
          - error
          properties:
            error:
              $ref: '#/components/schemas/ErrorObject'
        message:
          type: string
    SuccessEnvelope:
      type: object
      description: Standard envelope for successful responses that return a single payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific response payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: {}
        message: null
  parameters:
    idempotency_key:
      name: Idempotency-Key
      in: header
      required: false
      description: 'Idempotency key for safely retrying a write request. Reuse the same value when

        retrying the same logical operation to avoid creating duplicate side effects.

        '
      schema:
        type: string
        format: uuid
    EntitySubscriptionIdParam:
      name: subId
      in: path
      required: true
      description: Unique identifier for the entity subscription.
      schema:
        type: string
        pattern: ^sub_\w+$
    EntityIdParam:
      name: entityId
      in: path
      required: true
      description: Unique identifier for the entity.
      schema:
        type: string
        pattern: ^ent_\w+$
    method_version:
      name: Method-Version
      in: header
      required: true
      description: 'API version to use for this request. This spec targets `2025-12-01`.

        The SDK sets this header automatically.

        '
      schema:
        type: string
        enum:
        - '2025-12-01'
        default: '2025-12-01'
  securitySchemes:
    OpalToken:
      type: http
      scheme: bearer
      description: 'Opal token authentication for Opal session endpoints. Use an Opal token (`otkn_...`)

        as the Bearer token. Created via POST /opal/token using a secret key.

        '
    SecretKey:
      type: http
      scheme: bearer
      description: 'Secret key authentication. Use your team''s secret key (`sk_...`) as the Bearer token.

        All authenticated API endpoints require this scheme unless otherwise noted.

        '
