openapi: 3.2.0
info:
  title: Method Account Balances API
  version: '2025-12-01'
  license:
    name: Proprietary
    url: https://methodfi.com
  description: 'The Method API enables you to retrieve financial data, create payments, and manage

    entities and accounts programmatically.'
  contact:
    name: Method Financial
    url: https://methodfi.com
    email: team@methodfi.com
servers:
- url: https://production.methodfi.com
  description: Production
- url: https://sandbox.methodfi.com
  description: Sandbox
- url: https://dev.methodfi.com
  description: Development
security:
- SecretKey: []
tags:
- name: Account Balances
  description: Balance data for accounts
paths:
  /accounts/{accountId}/balances:
    get:
      operationId: listAccountBalances
      summary: List all account balances
      description: Returns a list of balance records for the specified account.
      tags:
      - Account Balances
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/AccountIdParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageLimitParam'
      - $ref: '#/components/parameters/PageCursorParam'
      responses:
        '200':
          description: A paginated list of account balances.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createAccountBalance
      summary: Create an account balance
      description: Triggers a balance sync for the specified account and returns the new balance record.
      tags:
      - Account Balances
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/idempotency_key'
      - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: The newly created account balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /accounts/{accountId}/balances/{balId}:
    get:
      operationId: retrieveAccountBalance
      summary: Retrieve an account balance
      description: Retrieves an account balance by its unique identifier.
      tags:
      - Account Balances
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/AccountIdParam'
      - $ref: '#/components/parameters/AccountBalanceIdParam'
      responses:
        '200':
          description: The requested account balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  schemas:
    AccountBalanceListResponse:
      allOf:
      - $ref: '#/components/schemas/ListEnvelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/AccountBalance'
    SuccessEnvelope:
      type: object
      description: Standard envelope for successful responses that return a single payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific response payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: {}
        message: null
    ErrorObject:
      type: object
      required:
      - type
      - code
      - message
      properties:
        type:
          type: string
          description: Error type category.
          enum:
          - invalid_request
          - api_error
          - resource_error
        code:
          type: integer
          description: Numeric error code. Common codes include 400 (bad request), 401 (unauthorized), 403 (forbidden), 404 (not found), 422 (unprocessable entity), 429 (rate limited), and 500 (internal error).
        sub_type:
          type:
          - string
          - 'null'
          description: More specific error classification.
        message:
          type: string
          description: Human-readable error description.
    AccountBalanceResponse:
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/AccountBalance'
    ListEnvelope:
      type: object
      description: Standard envelope for successful responses that return a list payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific list payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: []
        message: null
    AccountBalance:
      type: object
      description: A balance record for an account.
      required:
      - id
      - account_id
      - status
      - amount
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the balance.
          pattern: ^bal_\w+$
          example: bal_dKe9ehC3hEBYy
        account_id:
          type: string
          description: The account this balance belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the balance request.
          enum:
          - completed
          - pending
          - failed
        amount:
          type:
          - number
          - 'null'
          description: The balance amount in cents.
        error:
          $ref: '#/components/schemas/BalanceResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the balance was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the balance was last updated.
    BalanceResourceError:
      type:
      - object
      - 'null'
      description: Error details when a balance sync fails.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of balance error.
          enum:
          - BALANCE_FAILED
        code:
          type: integer
          description: Numeric error code (20XXX range).
          enum:
          - 20001
        sub_type:
          type: string
          description: Specific balance error classification.
          enum:
          - BALANCE_TEMPORARILY_UNAVAILABLE
        message:
          type: string
          description: Human-readable error description.
      example:
        type: BALANCE_FAILED
        code: 20001
        sub_type: BALANCE_TEMPORARILY_UNAVAILABLE
        message: Balance is temporarily unavailable for this account.
    ErrorEnvelope:
      type: object
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `false` for error responses.
        data:
          type: object
          required:
          - error
          properties:
            error:
              $ref: '#/components/schemas/ErrorObject'
        message:
          type: string
  parameters:
    PageCursorParam:
      name: page_cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination. Use the value from `Pagination-Page-Cursor-Next` or `Pagination-Page-Cursor-Prev` response headers.
      schema:
        type: string
    AccountIdParam:
      name: accountId
      in: path
      required: true
      description: Unique identifier for the account.
      schema:
        type: string
        pattern: ^acc_\w+$
    AccountBalanceIdParam:
      name: balId
      in: path
      required: true
      description: Unique identifier for the account balance.
      schema:
        type: string
        pattern: ^bal_\w+$
    idempotency_key:
      name: Idempotency-Key
      in: header
      required: false
      description: 'Idempotency key for safely retrying a write request. Reuse the same value when

        retrying the same logical operation to avoid creating duplicate side effects.

        '
      schema:
        type: string
        format: uuid
    PageLimitParam:
      name: page_limit
      in: query
      required: false
      description: Number of items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    method_version:
      name: Method-Version
      in: header
      required: true
      description: 'API version to use for this request. This spec targets `2025-12-01`.

        The SDK sets this header automatically.

        '
      schema:
        type: string
        enum:
        - '2025-12-01'
        default: '2025-12-01'
    PageParam:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-indexed).
      schema:
        type: integer
        minimum: 1
        default: 1
  responses:
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Unauthorized - missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    UnprocessableEntity:
      description: Unprocessable entity - the request was valid JSON but failed business or validation rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: Too many requests - rate limit exceeded.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Not found - the requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  headers:
    Pagination-Page-Cursor-Prev:
      description: Cursor for the previous page, if available.
      schema:
        type:
        - string
        - 'null'
    Pagination-Page-Cursor-Next:
      description: Cursor for the next page, if available.
      schema:
        type:
        - string
        - 'null'
    Pagination-Page:
      description: Current page number.
      schema:
        type: integer
    Pagination-Page-Count:
      description: Total number of pages.
      schema:
        type: integer
    Pagination-Page-Limit:
      description: Number of items per page.
      schema:
        type: integer
    Pagination-Total-Count:
      description: Total number of items across all pages.
      schema:
        type: integer
  securitySchemes:
    OpalToken:
      type: http
      scheme: bearer
      description: 'Opal token authentication for Opal session endpoints. Use an Opal token (`otkn_...`)

        as the Bearer token. Created via POST /opal/token using a secret key.

        '
    SecretKey:
      type: http
      scheme: bearer
      description: 'Secret key authentication. Use your team''s secret key (`sk_...`) as the Bearer token.

        All authenticated API endpoints require this scheme unless otherwise noted.

        '
