openapi: 3.2.0
info:
  title: Method Financial Transactions API
  description: The Method API enables developers to connect, retrieve, and pay down a consumer's liabilities (credit cards, student loans, auto loans, mortgages, and personal loans) across a network of financial institutions. Core resources are Entities, Accounts, Payments, Merchants, Connect, Transactions, and Webhooks. All requests are authenticated with a Bearer API key.
  termsOfService: https://methodfi.com/legal/platform-agreement
  contact:
    name: Method Support
    url: https://docs.methodfi.com
    email: support@methodfi.com
  version: '2026-03-30'
servers:
- url: https://production.methodfi.com
  description: Production
- url: https://sandbox.methodfi.com
  description: Sandbox
- url: https://dev.methodfi.com
  description: Development (simulations enabled)
security:
- bearerAuth: []
tags:
- name: Transactions
  description: Transaction history for an account.
paths:
  /accounts/{acc_id}/transactions:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    get:
      operationId: listAccountTransactions
      tags:
      - Transactions
      summary: List account transactions
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageLimit'
      responses:
        '200':
          description: Transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
components:
  parameters:
    PageLimit:
      name: page_limit
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 100
    AccountId:
      name: acc_id
      in: path
      required: true
      schema:
        type: string
      description: The account identifier (e.g. acc_xxx).
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
  schemas:
    TransactionResponse:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: string
        amount:
          type: integer
        description:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    TransactionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Provide your Method API key as a Bearer token in the Authorization header. Optionally send a Method-Version header (e.g. 2026-03-30).
