openapi: 3.2.0
info:
  title: Method Entity Attributes API
  version: '2025-12-01'
  license:
    name: Proprietary
    url: https://methodfi.com
  description: "The Method API enables you to retrieve financial data, create payments, and manage\nentities and accounts programmatically. This specification covers the public API\nsurface for version `2025-12-01`.\n\n## Authentication\n\nMost API requests require a Bearer token in the `Authorization` header.\nUse your secret key (`sk_...`) for server-side requests and public key (`pk_...`)\nfor client-side Element requests. Public Message-Level Encryption key discovery\nendpoints are documented separately and do not require authentication.\n\n## Versioning\n\nThe API version is selected via the `Method-Version` header. This spec targets\nversion `2025-12-01`. The SDK sets this header automatically.\n\n## Response Envelope\n\nMost JSON responses are wrapped in a standard envelope:\n\n```json\n{\n  \"success\": true,\n  \"data\": { ... },\n  \"message\": null\n}\n```\n\nThe `/.well-known/jwks.json` endpoint is an exception and returns a bare JWK set.\n\n## Pagination\n\nList endpoints return pagination metadata in response headers:\n`Pagination-Page`, `Pagination-Page-Count`, `Pagination-Page-Limit`,\n`Pagination-Total-Count`, `Pagination-Page-Cursor-Prev`, `Pagination-Page-Cursor-Next`.\n\n## Expandable Fields\n\nCertain resource fields can be expanded from IDs to full objects using the\n`expand` query parameter. Maximum nesting depth is 4 levels.\n"
  contact:
    name: Method Financial
    url: https://methodfi.com
    email: team@methodfi.com
servers:
- url: https://production.methodfi.com
  description: Production
- url: https://sandbox.methodfi.com
  description: Sandbox
- url: https://dev.methodfi.com
  description: Development
security:
- SecretKey: []
tags:
- name: Entity Attributes
  description: Attribute data for entities
paths:
  /entities/{entityId}/attributes:
    get:
      operationId: listEntityAttributes
      summary: List all entity attributes
      description: Returns a list of attributes for the specified entity.
      tags:
      - Entity Attributes
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/EntityIdParam'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageLimitParam'
      - $ref: '#/components/parameters/PageCursorParam'
      - $ref: '#/components/parameters/FromDateParam'
      - $ref: '#/components/parameters/ToDateParam'
      responses:
        '200':
          description: A list of entity attributes.
          headers:
            Pagination-Page:
              description: Current page number.
              schema:
                type: integer
            Pagination-Page-Count:
              description: Total number of pages.
              schema:
                type: integer
            Pagination-Page-Limit:
              description: Number of items per page.
              schema:
                type: integer
            Pagination-Total-Count:
              description: Total number of items across all pages.
              schema:
                type: integer
            Pagination-Page-Cursor-Prev:
              description: Cursor for the previous page, if available.
              schema:
                type:
                - string
                - 'null'
            Pagination-Page-Cursor-Next:
              description: Cursor for the next page, if available.
              schema:
                type:
                - string
                - 'null'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttributeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createEntityAttributes
      summary: Create entity attributes
      description: Creates a new attribute retrieval for the specified entity.
      tags:
      - Entity Attributes
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/idempotency_key'
      - $ref: '#/components/parameters/EntityIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  type: array
                  description: Specific attributes to request.
                  items:
                    type: string
      responses:
        '200':
          description: The created entity attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttributeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /entities/{entityId}/attributes/{attrId}:
    get:
      operationId: retrieveEntityAttribute
      summary: Retrieve an entity attribute
      description: Returns a single entity attribute by its identifier.
      tags:
      - Entity Attributes
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/EntityIdParam'
      - $ref: '#/components/parameters/EntityAttributeIdParam'
      responses:
        '200':
          description: The requested entity attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityAttributeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  schemas:
    ErrorEnvelope:
      type: object
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `false` for error responses.
        data:
          type: object
          required:
          - error
          properties:
            error:
              $ref: '#/components/schemas/ErrorObject'
        message:
          type: string
    ListEnvelope:
      type: object
      description: Standard envelope for successful responses that return a list payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific list payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: []
        message: null
    ResourceError:
      type:
      - object
      - 'null'
      required:
      - type
      - code
      - message
      properties:
        type:
          type: string
        code:
          type: integer
        sub_type:
          type:
          - string
          - 'null'
        message:
          type: string
    EntityAttributeData:
      type:
      - object
      - 'null'
      description: Financial health and credit attribute data.
      properties:
        credit_health_credit_card_usage:
          type:
          - object
          - 'null'
          description: Credit card usage health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_derogatory_marks:
          type:
          - object
          - 'null'
          description: Derogatory marks health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_hard_inquiries:
          type:
          - object
          - 'null'
          description: Hard inquiries health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_soft_inquiries:
          type:
          - object
          - 'null'
          description: Soft inquiries health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_total_accounts:
          type:
          - object
          - 'null'
          description: Total accounts health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_open_accounts:
          type:
          - object
          - 'null'
          description: Open accounts health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_credit_age:
          type:
          - object
          - 'null'
          description: Credit age health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_payment_history:
          type:
          - object
          - 'null'
          description: Payment history health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
        credit_health_entity_delinquent:
          type:
          - object
          - 'null'
          description: Entity delinquency health indicator.
          properties:
            value:
              type:
              - number
              - 'null'
              description: The attribute value.
            rating:
              type: string
              description: Rating for this attribute.
            metadata:
              type:
              - object
              - 'null'
              description: Additional metadata.
    EntityAttributeResponse:
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/EntityAttribute'
    SuccessEnvelope:
      type: object
      description: Standard envelope for successful responses that return a single payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific response payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: {}
        message: null
    EntityAttribute:
      type: object
      required:
      - id
      - entity_id
      - status
      - attributes
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the entity attribute.
          example: attr_QwMjMDEwMTY1
        entity_id:
          type: string
          description: The ID of the entity this attribute belongs to.
          example: ent_au22b1fbFJbp8
        status:
          type: string
          description: Status of the attribute retrieval.
          enum:
          - completed
          - in_progress
          - pending
          - failed
        attributes:
          $ref: '#/components/schemas/EntityAttributeData'
        error:
          type:
          - object
          - 'null'
          description: Error details if the resource encountered an error.
          allOf:
          - $ref: '#/components/schemas/ResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the attribute was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the attribute was last updated.
    EntityAttributeListResponse:
      allOf:
      - $ref: '#/components/schemas/ListEnvelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/EntityAttribute'
    ErrorObject:
      type: object
      required:
      - type
      - code
      - message
      properties:
        type:
          type: string
          description: Error type category.
          enum:
          - invalid_request
          - api_error
          - resource_error
        code:
          type: integer
          description: Numeric error code. Common codes include 400 (bad request), 401 (unauthorized), 403 (forbidden), 404 (not found), 422 (unprocessable entity), 429 (rate limited), and 500 (internal error).
        sub_type:
          type:
          - string
          - 'null'
          description: More specific error classification.
        message:
          type: string
          description: Human-readable error description.
  responses:
    Unauthorized:
      description: Unauthorized - missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Forbidden:
      description: Forbidden - insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: Too many requests - rate limit exceeded.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Not found - the requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    UnprocessableEntity:
      description: Unprocessable entity - the request was valid JSON but failed business or validation rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  parameters:
    PageLimitParam:
      name: page_limit
      in: query
      required: false
      description: Number of items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    ToDateParam:
      name: to_date
      in: query
      required: false
      description: Filter results to this date (inclusive, YYYY-MM-DD format).
      schema:
        type: string
        format: date
    PageCursorParam:
      name: page_cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination. Use the value from `Pagination-Page-Cursor-Next` or `Pagination-Page-Cursor-Prev` response headers.
      schema:
        type: string
    idempotency_key:
      name: Idempotency-Key
      in: header
      required: false
      description: 'Idempotency key for safely retrying a write request. Reuse the same value when

        retrying the same logical operation to avoid creating duplicate side effects.

        '
      schema:
        type: string
        format: uuid
    method_version:
      name: Method-Version
      in: header
      required: true
      description: 'API version to use for this request. This spec targets `2025-12-01`.

        The SDK sets this header automatically.

        '
      schema:
        type: string
        enum:
        - '2025-12-01'
        default: '2025-12-01'
    EntityAttributeIdParam:
      name: attrId
      in: path
      required: true
      description: Unique identifier for the entity attribute.
      schema:
        type: string
        pattern: ^attr_\w+$
    FromDateParam:
      name: from_date
      in: query
      required: false
      description: Filter results from this date (inclusive, YYYY-MM-DD format).
      schema:
        type: string
        format: date
    EntityIdParam:
      name: entityId
      in: path
      required: true
      description: Unique identifier for the entity.
      schema:
        type: string
        pattern: ^ent_\w+$
    PageParam:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-indexed).
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    OpalToken:
      type: http
      scheme: bearer
      description: 'Opal token authentication for Opal session endpoints. Use an Opal token (`otkn_...`)

        as the Bearer token. Created via POST /opal/token using a secret key.

        '
    SecretKey:
      type: http
      scheme: bearer
      description: 'Secret key authentication. Use your team''s secret key (`sk_...`) as the Bearer token.

        All authenticated API endpoints require this scheme unless otherwise noted.

        '
