openapi: 3.2.0
info:
  title: Methodfi Payments API
  version: '1.0'
  description: 'Operations tagged Payments across 2 of this provider''s published API definitions: methodfi-openapi-original.yml, methodfi-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://production.methodfi.com
  description: Production
- url: https://sandbox.methodfi.com
  description: Sandbox
- url: https://dev.methodfi.com
  description: Development
tags:
- name: Payments
  description: ACH and clearing payments
paths:
  /payments:
    get:
      operationId: listPayments
      summary: List all payments
      description: Returns a paginated list of payments. Results can be filtered by status, type, accounts, holders, reversal, and date range.
      tags:
      - Payments
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/PageLimitParam'
      - $ref: '#/components/parameters/PageCursorParam'
      - $ref: '#/components/parameters/FromDateParam'
      - $ref: '#/components/parameters/ToDateParam'
      - name: status
        in: query
        required: false
        description: Filter payments by status.
        schema:
          type: string
          enum:
          - pending
          - processing
          - sent
          - posted
          - settled
          - failed
          - reversed
          - canceled
          - cashed
      - name: source
        in: query
        required: false
        description: Filter payments by source account ID.
        schema:
          type: string
          pattern: ^acc_\w+$
      - name: destination
        in: query
        required: false
        description: Filter payments by destination account ID.
        schema:
          type: string
          pattern: ^acc_\w+$
      - name: type
        in: query
        required: false
        description: Filter payments by payment type.
        schema:
          type: string
          enum:
          - standard
          - clearing
      - name: reversal_id
        in: query
        required: false
        description: Filter payments by reversal ID.
        schema:
          type: string
          pattern: ^rvs_\w+$
      - name: acc_id
        in: query
        required: false
        description: Filter payments by either the source or destination account ID.
        schema:
          type: string
          pattern: ^acc_\w+$
      - name: destination_holder_id
        in: query
        required: false
        description: Filter payments by destination entity ID.
        schema:
          type: string
          pattern: ^ent_\w+$
      - name: source_holder_id
        in: query
        required: false
        description: Filter payments by source entity ID.
        schema:
          type: string
          pattern: ^ent_\w+$
      - name: holder_id
        in: query
        required: false
        description: Filter payments by either the source or destination entity ID.
        schema:
          type: string
          pattern: ^ent_\w+$
      - $ref: '#/components/parameters/expand_payments'
      responses:
        '200':
          description: A paginated list of payments.
          headers:
            Pagination-Page:
              $ref: '#/components/headers/Pagination-Page'
            Pagination-Page-Count:
              $ref: '#/components/headers/Pagination-Page-Count'
            Pagination-Page-Limit:
              $ref: '#/components/headers/Pagination-Page-Limit'
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Cursor-Prev:
              $ref: '#/components/headers/Pagination-Page-Cursor-Prev'
            Pagination-Page-Cursor-Next:
              $ref: '#/components/headers/Pagination-Page-Cursor-Next'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createPayment
      summary: Create a payment
      description: Creates a new payment to transfer funds from a source account to a destination account.
      tags:
      - Payments
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/idempotency_key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
            examples:
              standard:
                summary: Create a standard payment
                value:
                  source: acc_b9q2XVAnNFbp3
                  destination: acc_Y8u3qL9mNa1Bz
                  amount: 5000
                  description: Monthly card payment
                  metadata:
                    invoice_id: inv_1001
              clearing:
                summary: Create a clearing payment with a fee
                value:
                  source: acc_b9q2XVAnNFbp3
                  destination: acc_Y8u3qL9mNa1Bz
                  amount: 25000
                  description: Settlement transfer
                  fee:
                    type: total
                    amount: 250
      responses:
        '200':
          description: The newly created payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
              example:
                success: true
                data:
                  id: pmt_rPrDPEwyCVUcm
                  reversal_id: null
                  source_trace_id: null
                  destination_trace_id: null
                  source: acc_b9q2XVAnNFbp3
                  destination: acc_Y8u3qL9mNa1Bz
                  amount: 5000
                  description: Monthly card payment
                  status: pending
                  fund_status: transmitting
                  estimated_completion_date: '2026-01-19'
                  source_settlement_date: null
                  destination_settlement_date: null
                  source_status: null
                  destination_status: null
                  destination_payment_method: null
                  fee: null
                  type: standard
                  error: null
                  metadata:
                    invoice_id: inv_1001
                  created_at: '2026-01-15T18:30:00.000Z'
                  updated_at: '2026-01-15T18:30:00.000Z'
                message: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    servers:
    - url: https://production.methodfi.com
      description: Production
    - url: https://sandbox.methodfi.com
      description: Sandbox
    - url: https://dev.methodfi.com
      description: Development
  /payments/{paymentId}:
    get:
      operationId: retrievePayment
      summary: Retrieve a payment
      description: Retrieves a payment by its unique identifier.
      tags:
      - Payments
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/PaymentIdParam'
      - $ref: '#/components/parameters/expand_payments'
      responses:
        '200':
          description: The requested payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deletePayment
      summary: Delete a payment
      description: Cancels a pending payment. Only payments with a `pending` status can be canceled.
      tags:
      - Payments
      security:
      - SecretKey: []
      parameters:
      - $ref: '#/components/parameters/method_version'
      - $ref: '#/components/parameters/PaymentIdParam'
      - $ref: '#/components/parameters/idempotency_key'
      responses:
        '200':
          description: The canceled payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    servers:
    - url: https://production.methodfi.com
      description: Production
    - url: https://sandbox.methodfi.com
      description: Sandbox
    - url: https://dev.methodfi.com
      description: Development
  /payments/{pmt_id}:
    parameters:
    - $ref: '#/components/parameters/PaymentId'
    get:
      operationId: getPayment
      tags:
      - Payments
      summary: Retrieve a payment
      responses:
        '200':
          description: The payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse_2'
      security:
      - bearerAuth: []
    delete:
      operationId: deletePayment
      tags:
      - Payments
      summary: Delete a pending payment
      responses:
        '200':
          description: The deleted payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse_2'
      security:
      - bearerAuth: []
    servers:
    - url: https://production.methodfi.com
      description: Production
    - url: https://sandbox.methodfi.com
      description: Sandbox
    - url: https://dev.methodfi.com
      description: Development (simulations enabled)
  /payments/{pmt_id}/reversals:
    parameters:
    - $ref: '#/components/parameters/PaymentId'
    post:
      operationId: createPaymentReversal
      tags:
      - Payments
      summary: Create a payment reversal
      description: Balances funds for an unsuccessful payment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Reversal
          content:
            application/json:
              schema:
                type: object
      security:
      - bearerAuth: []
    get:
      operationId: listPaymentReversals
      tags:
      - Payments
      summary: List payment reversals
      responses:
        '200':
          description: Reversals
          content:
            application/json:
              schema:
                type: object
      security:
      - bearerAuth: []
    servers:
    - url: https://production.methodfi.com
      description: Production
    - url: https://sandbox.methodfi.com
      description: Sandbox
    - url: https://dev.methodfi.com
      description: Development (simulations enabled)
components:
  headers:
    Pagination-Total-Count:
      description: Total number of items across all pages.
      schema:
        type: integer
    Pagination-Page-Limit:
      description: Number of items per page.
      schema:
        type: integer
    Pagination-Page:
      description: Current page number.
      schema:
        type: integer
    Pagination-Page-Count:
      description: Total number of pages.
      schema:
        type: integer
    Pagination-Page-Cursor-Next:
      description: Cursor for the next page, if available.
      schema:
        type:
        - string
        - 'null'
    Pagination-Page-Cursor-Prev:
      description: Cursor for the previous page, if available.
      schema:
        type:
        - string
        - 'null'
  schemas:
    AccountDebitCard:
      type:
      - object
      - 'null'
      description: Debit card account details. Present when `type` is `debit_card`.
      properties:
        network:
          type: string
          description: The card network.
        mask:
          type: string
          description: Last 4 digits of the card number.
        issuer:
          type: string
          description: The card issuer.
    ErrorEnvelope:
      type: object
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `false` for error responses.
        data:
          type: object
          required:
          - error
          properties:
            error:
              $ref: '#/components/schemas/ErrorObject'
        message:
          type: string
    ResourceError:
      type:
      - object
      - 'null'
      required:
      - type
      - code
      - message
      properties:
        type:
          type: string
        code:
          type: integer
        sub_type:
          type:
          - string
          - 'null'
        message:
          type: string
    ListEnvelope:
      type: object
      description: Standard envelope for successful responses that return a list payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific list payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: []
        message: null
    AccountExpandableUpdate:
      title: AccountExpandableUpdate
      description: 'The latest update ID. This field is expandable. When expanded, returns the full AccountUpdate object.

        '
      oneOf:
      - type: string
        pattern: ^upd_\w+$
      - type: 'null'
      - $ref: '#/components/schemas/AccountUpdate'
    AccountAttribute:
      type: object
      description: An attribute record for an account containing financial data attributes.
      required:
      - id
      - account_id
      - status
      - attributes
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the account attribute.
          pattern: ^acc_attr_\w+$
          example: acc_attr_eTJMbnCjw34yQ
        account_id:
          type: string
          description: The account this attribute belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the attribute request.
          enum:
          - completed
          - pending
          - failed
        attributes:
          type: object
          description: Financial data attributes for the account.
          additionalProperties: true
        error:
          $ref: '#/components/schemas/ResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the attribute was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the attribute was last updated.
    MerchantType:
      type: string
      enum:
      - auto_loan
      - bank
      - bnpl
      - business_loan
      - city
      - collection
      - county
      - credit_builder
      - credit_card
      - electric_utility
      - fintech
      - home_equity_loan
      - home_loan
      - insurance
      - internet_utility
      - loan
      - medical
      - mortgage
      - personal_loan
      - student_loan
      - student_loans
      - subscription
      - telephone_utility
      - television_utility
      - unknown
      - utility
      - waste_utility
      - water_utility
    AccountExpandableCardBrand:
      title: AccountExpandableCardBrand
      description: 'The latest card brand ID. This field is expandable. When expanded, returns the full AccountCardBrand object.

        '
      oneOf:
      - type: string
        pattern: ^cbrd_\w+$
      - type: 'null'
      - $ref: '#/components/schemas/AccountCardBrand'
    AccountClearing:
      type:
      - object
      - 'null'
      description: Clearing account details. Present when `type` is `clearing`.
      properties:
        type:
          type: string
          description: The type of clearing account.
          enum:
          - single_use
          - multi_use
        routing:
          type: string
          description: The clearing routing number.
        number:
          type: string
          description: The clearing account number.
    AccountPaymentInstrument:
      type: object
      description: A payment instrument for an account.
      required:
      - id
      - account_id
      - status
      - type
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the payment instrument.
          pattern: ^pmt_inst_\w+$
          example: pmt_inst_aTJMbnCjw34yQ
        account_id:
          type: string
          description: The account this payment instrument belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the payment instrument.
          enum:
          - pending
          - in_progress
          - completed
        type:
          type: string
          description: The type of payment instrument.
          enum:
          - card
          - network_token
          - inbound_achwire_payment
        chargeable:
          type: boolean
          description: Whether this payment instrument is currently chargeable.
        card:
          type:
          - object
          - 'null'
          description: Card details. Present when type is card.
          properties:
            number:
              type: string
              description: The card number.
            exp_month:
              type: string
              description: Card expiration month.
            exp_year:
              type: string
              description: Card expiration year.
            billing_zip_code:
              type: string
              description: Billing zip code.
        network_token:
          type:
          - object
          - 'null'
          description: Network token details. Present when type is network_token.
          properties:
            token:
              type: string
              description: The network token value.
        inbound_achwire_payment:
          type:
          - object
          - 'null'
          description: ACH/wire payment details. Present when type is inbound_achwire_payment.
          properties:
            account_number:
              type: string
              description: The account number.
            routing_number:
              type: string
              description: The routing number.
        error:
          $ref: '#/components/schemas/ResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the payment instrument was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the payment instrument was last updated.
    AccountSensitive:
      type: object
      description: Sensitive data for an account.
      required:
      - id
      - account_id
      - status
      - type
      - fields
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the sensitive record.
          pattern: ^astv_\w+$
          example: astv_aTJMbnCjw34yQ
        account_id:
          type: string
          description: The account this sensitive data belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the sensitive data request.
          enum:
          - completed
          - pending
          - failed
        type:
          type: string
          description: The type of sensitive data.
        fields:
          type: array
          description: List of sensitive data fields retrieved.
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of the field.
              value:
                type: string
                description: Value of the field.
        error:
          $ref: '#/components/schemas/AccountSensitiveResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the sensitive record was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the sensitive record was last updated.
    AccountLiability:
      type:
      - object
      - 'null'
      description: Liability account details. Present when `type` is `liability`.
      required:
      - mch_id
      - mask
      - ownership
      - fingerprint
      - type
      - sub_type
      - name
      properties:
        mch_id:
          title: AccountLiabilityExpandableMerchant
          description: The merchant ID associated with this liability.
          oneOf:
          - type: string
            pattern: ^mch_\w+$
          - $ref: '#/components/schemas/Merchant'
        mask:
          type:
          - string
          - 'null'
          description: Last 4 digits of the account number.
          example: '4321'
        ownership:
          type:
          - string
          - 'null'
          description: Ownership type of the account.
          enum:
          - primary
          - authorized
          - joint
          - unknown
          - null
        fingerprint:
          type:
          - string
          - 'null'
          description: Unique fingerprint for de-duplication.
        type:
          type: string
          description: The type of liability.
          enum:
          - credit_card
          - auto_loan
          - mortgage
          - personal_loan
          - student_loan
          - student_loans
          - collection
          - credit_builder
          - insurance
          - loan
          - medical
          - utility
          - bnpl
          - fintech
        sub_type:
          type:
          - string
          - 'null'
          description: More specific classification of the liability type.
        name:
          type:
          - string
          - 'null'
          description: Display name of the liability account.
    AccountCardBrand:
      type: object
      description: Card brand information for an account.
      required:
      - id
      - account_id
      - status
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the card brand.
          pattern: ^cbrd_\w+$
          example: cbrd_aTJMbnCjw34yQ
        account_id:
          type: string
          description: The account this card brand belongs to.
          pattern: ^acc_\w+$
        brands:
          type:
          - array
          - 'null'
          description: Array of card brand entries for this account.
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for the brand entry.
              card_product_id:
                type:
                - string
                - 'null'
                description: Associated card product ID.
              description:
                type: string
                description: Description of the brand.
              name:
                type: string
                description: Name of the brand.
              issuer:
                type: string
                description: The card issuer.
              network:
                type: string
                description: The card network.
              network_tier:
                type: string
                description: The tier of the card network.
              type:
                type:
                - string
                - 'null'
                description: The brand type.
              url:
                type: string
                description: URL for the brand image.
        source:
          type:
          - string
          - 'null'
          description: Source of the card brand data.
          enum:
          - network
          - method
          - null
        shared:
          type: boolean
          description: Whether this card brand record is shared.
        network:
          type:
          - string
          - 'null'
          description: The card network. Deprecated in favor of brands[].network.
          enum:
          - visa
          - mastercard
          - amex
          - discover
          - null
        issuer:
          type:
          - string
          - 'null'
          description: The card issuer. Deprecated in favor of brands[].issuer.
        last4:
          type:
          - string
          - 'null'
          description: Last 4 digits of the card number. Deprecated in favor of brands[].
        status:
          type: string
          description: Current status of the card brand request.
          enum:
          - completed
          - pending
          - failed
        error:
          $ref: '#/components/schemas/ResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the card brand was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the card brand was last updated.
    AccountSensitiveResourceError:
      type:
      - object
      - 'null'
      description: Error details when retrieving account sensitive data fails.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of sensitive data error.
          enum:
          - ACCOUNT_SENSITIVE_FAILED
        code:
          type: integer
          description: Numeric error code (17XXX range).
          enum:
          - 17001
        sub_type:
          type: string
          description: Specific sensitive data error classification.
          enum:
          - ACCOUNT_SENSITIVE_FAILED_VERIFICATION_REQUIRED
        message:
          type: string
          description: Human-readable error description.
      example:
        type: ACCOUNT_SENSITIVE_FAILED
        code: 17001
        sub_type: ACCOUNT_SENSITIVE_FAILED_VERIFICATION_REQUIRED
        message: Account sensitive failed due to missing required verification.
    AccountExpandableSensitive:
      title: AccountExpandableSensitive
      description: 'The latest sensitive ID. This field is expandable. When expanded, returns the full AccountSensitive object.

        '
      oneOf:
      - type: string
        pattern: ^astv_\w+$
      - type: 'null'
      - $ref: '#/components/schemas/AccountSensitive'
    PaymentCreateRequest:
      type: object
      description: Request body for creating a payment.
      required:
      - source
      - destination
      - amount
      - description
      properties:
        source:
          type: string
          description: The source account ID.
          pattern: ^acc_\w+$
        destination:
          type: string
          description: The destination account ID.
          pattern: ^acc_\w+$
        amount:
          type: integer
          description: Payment amount in cents.
          minimum: 1
          example: 5000
        description:
          type: string
          description: Human-readable description for the payment.
        reversal_account:
          type: string
          description: Account ID to use for the reversal leg of the payment, if applicable.
          pattern: ^acc_\w+$
        metadata:
          $ref: '#/components/schemas/Metadata'
        dry_run:
          type: boolean
          description: Validate the payment request without moving funds.
        fee:
          type: object
          description: Optional fee configuration for the payment.
          properties:
            type:
              type: string
              description: The fee type.
              enum:
              - total
            amount:
              type: integer
              description: Fee amount in cents.
              minimum: 0
    AccountVerificationSessionResourceError:
      type:
      - object
      - 'null'
      description: Error details when an account verification session fails.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of verification session error.
          enum:
          - ACCOUNT_VERIFICATION_SESSION_FAILED
        code:
          type: integer
          description: Numeric error code (16XXX range).
          enum:
          - 16001
          - 16002
          - 16003
          - 16004
        sub_type:
          type: string
          description: Specific verification session error classification.
          enum:
          - VERIFICATION_TYPE_NOT_SUPPORTED
          - INVALID_DETAILS
          - VERIFICATION_SESSION_ATTEMPT_LIMIT_REACHED
          - MICRO_DEPOSITS_FAILED
        message:
          type: string
          description: Human-readable error description.
      example:
        type: ACCOUNT_VERIFICATION_SESSION_FAILED
        code: 16001
        sub_type: VERIFICATION_TYPE_NOT_SUPPORTED
        message: The verification type provided is not supported for the merchant.
    PaymentListResponse:
      allOf:
      - $ref: '#/components/schemas/ListEnvelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Payment'
    BalanceResourceError:
      type:
      - object
      - 'null'
      description: Error details when a balance sync fails.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of balance error.
          enum:
          - BALANCE_FAILED
        code:
          type: integer
          description: Numeric error code (20XXX range).
          enum:
          - 20001
        sub_type:
          type: string
          description: Specific balance error classification.
          enum:
          - BALANCE_TEMPORARILY_UNAVAILABLE
        message:
          type: string
          description: Human-readable error description.
      example:
        type: BALANCE_FAILED
        code: 20001
        sub_type: BALANCE_TEMPORARILY_UNAVAILABLE
        message: Balance is temporarily unavailable for this account.
    Merchant:
      type: object
      required:
      - id
      - parent_name
      - name
      - logo
      - type
      - provider_ids
      - is_temp
      - account_number_formats
      properties:
        id:
          type: string
          description: Unique identifier for the merchant.
          example: mch_aTJMbnCjw34yQ
        parent_name:
          type: string
          description: Name of the parent merchant group.
          example: Chase
        name:
          type: string
          description: Display name of the merchant.
          example: Chase - Credit Cards
        logo:
          type: string
          description: URL of the merchant logo.
          example: https://static.methodfi.com/logos/chase.png
        type:
          $ref: '#/components/schemas/MerchantType'
          description: Type of accounts supported by this merchant.
        provider_ids:
          $ref: '#/components/schemas/MerchantProviderIds'
        is_temp:
          type: boolean
          description: Whether this is a temporary merchant entry.
        account_number_formats:
          type: array
          items:
            type: string
          description: Accepted account number formats.
    AccountUpdate:
      type: object
      description: An update record for an account.
      required:
      - id
      - account_id
      - status
      - type
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the update.
          pattern: ^upd_\w+$
          example: upd_aTJMbnCjw34yQ
        account_id:
          type: string
          description: The account this update belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the update.
          enum:
          - completed
          - pending
          - failed
        type:
          type: string
          description: The liability type of the account being updated.
          enum:
          - credit_card
          - auto_loan
          - mortgage
          - personal_loan
          - student_loan
          - student_loans
          - bnpl
          - fintech
        source:
          type: string
          description: The data source used for this update.
          enum:
          - direct
          - snapshot
        data_as_of:
          type:
          - string
          - 'null'
          format: date-time
          description: The timestamp of the data used to complete this update.
        credit_card:
          type:
          - object
          - 'null'
          description: Credit card update data. Present when `type` is `credit_card`.
          properties:
            sub_type:
              type:
              - string
              - 'null'
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            last_payment_amount:
              type:
              - integer
              - 'null'
              description: Last payment amount in cents.
            last_payment_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_due_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_minimum_amount:
              type:
              - integer
              - 'null'
              description: Minimum payment due in cents.
            interest_rate_type:
              type:
              - string
              - 'null'
            interest_rate_percentage_max:
              type:
              - number
              - 'null'
            interest_rate_percentage_min:
              type:
              - number
              - 'null'
            available_credit:
              type:
              - integer
              - 'null'
              description: Available credit in cents.
            credit_limit:
              type:
              - integer
              - 'null'
              description: Credit limit in cents.
            usage_pattern:
              type:
              - string
              - 'null'
        auto_loan:
          type:
          - object
          - 'null'
          description: Auto loan update data. Present when `type` is `auto_loan`.
          properties:
            sub_type:
              type:
              - string
              - 'null'
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            last_payment_amount:
              type:
              - integer
              - 'null'
              description: Last payment amount in cents.
            last_payment_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_due_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_minimum_amount:
              type:
              - integer
              - 'null'
              description: Minimum payment due in cents.
            interest_rate_type:
              type:
              - string
              - 'null'
            expected_payoff_date:
              type:
              - string
              - 'null'
              format: date
            original_loan_amount:
              type:
              - integer
              - 'null'
              description: Original loan amount in cents.
            term_length:
              type:
              - integer
              - 'null'
            interest_rate_percentage:
              type:
              - number
              - 'null'
            interest_rate_source:
              type:
              - string
              - 'null'
        mortgage:
          type:
          - object
          - 'null'
          description: Mortgage update data. Present when `type` is `mortgage`.
          properties:
            sub_type:
              type:
              - string
              - 'null'
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            last_payment_amount:
              type:
              - integer
              - 'null'
              description: Last payment amount in cents.
            last_payment_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_due_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_minimum_amount:
              type:
              - integer
              - 'null'
              description: Minimum payment due in cents.
            interest_rate_type:
              type:
              - string
              - 'null'
            expected_payoff_date:
              type:
              - string
              - 'null'
              format: date
            original_loan_amount:
              type:
              - integer
              - 'null'
              description: Original loan amount in cents.
            term_length:
              type:
              - integer
              - 'null'
            interest_rate_percentage:
              type:
              - number
              - 'null'
            interest_rate_source:
              type:
              - string
              - 'null'
        personal_loan:
          type:
          - object
          - 'null'
          description: Personal loan update data. Present when `type` is `personal_loan`.
          properties:
            sub_type:
              type:
              - string
              - 'null'
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            last_payment_amount:
              type:
              - integer
              - 'null'
              description: Last payment amount in cents.
            last_payment_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_due_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_minimum_amount:
              type:
              - integer
              - 'null'
              description: Minimum payment due in cents.
            interest_rate_type:
              type:
              - string
              - 'null'
            available_credit:
              type:
              - integer
              - 'null'
              description: Available credit in cents.
            original_loan_amount:
              type:
              - integer
              - 'null'
              description: Original loan amount in cents.
            term_length:
              type:
              - integer
              - 'null'
            interest_rate_percentage:
              type:
              - number
              - 'null'
            interest_rate_source:
              type:
              - string
              - 'null'
        student_loan:
          type:
          - object
          - 'null'
          description: Student loan update data. Present when `type` is `student_loan`.
          properties:
            sub_type:
              type:
              - string
              - 'null'
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            last_payment_amount:
              type:
              - integer
              - 'null'
              description: Last payment amount in cents.
            last_payment_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_due_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_minimum_amount:
              type:
              - integer
              - 'null'
              description: Minimum payment due in cents.
            interest_rate_type:
              type:
              - string
              - 'null'
            expected_payoff_date:
              type:
              - string
              - 'null'
              format: date
            original_loan_amount:
              type:
              - integer
              - 'null'
              description: Original loan amount in cents.
            term_length:
              type:
              - integer
              - 'null'
            interest_rate_percentage:
              type:
              - number
              - 'null'
            interest_rate_source:
              type:
              - string
              - 'null'
        student_loans:
          type:
          - object
          - 'null'
          description: Student loans aggregate update data. Present when `type` is `student_loans`.
          properties:
            sub_type:
              type:
              - string
              - 'null'
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            last_payment_amount:
              type:
              - integer
              - 'null'
              description: Last payment amount in cents.
            last_payment_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_due_date:
              type:
              - string
              - 'null'
              format: date
            next_payment_minimum_amount:
              type:
              - integer
              - 'null'
              description: Minimum payment due in cents.
            interest_rate_type:
              type:
              - string
              - 'null'
            disbursements:
              type:
              - array
              - 'null'
              items:
                type: object
            original_loan_amount:
              type:
              - integer
              - 'null'
              description: Original loan amount in cents.
            interest_rate_percentage:
              type:
              - number
              - 'null'
            interest_rate_source:
              type:
              - string
              - 'null'
        bnpl:
          type:
          - object
          - 'null'
          description: Buy now pay later update data. Present when `type` is `bnpl`.
          properties:
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
        fintech:
          type:
          - object
          - 'null'
          description: Fintech account update data. Present when `type` is `fintech`.
          properties:
            balance:
              type:
              - integer
              - 'null'
              description: Current balance in cents.
            opened_at:
              type:
              - string
              - 'null'
              format: date
            closed_at:
              type:
              - string
              - 'null'
              format: date
        error:
          $ref: '#/components/schemas/UpdateResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the update was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the update was last updated.
    AccountVerificationSession:
      type: object
      description: A verification session for an account.
      required:
      - id
      - account_id
      - status
      - type
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the verification session.
          pattern: ^avf_\w+$
          example: avf_aTJMbnCjw34yQ
        account_id:
          type: string
          description: The account this verification session belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the verification session.
          enum:
          - pending
          - in_progress
          - verified
          - failed
        type:
          type: string
          description: The type of verification.
          enum:
          - micro_deposits
          - mx
          - plaid
          - teller
          - auto_verify
          - trusted_provisioner
          - pre_auth
          - standard
          - issuer
          - instant
          - network
          - three_ds
        micro_deposits:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type micro_deposits.
          properties:
            amounts:
              type: array
              description: The latest amounts that this verification session was updated with.
              items:
                type: integer
        plaid:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type plaid.
          properties:
            balances:
              type: object
              description: The raw balance data received from Plaid.
            transactions:
              type: array
              description: The raw transaction data received from Plaid.
              items:
                type: object
        mx:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type mx.
          properties:
            account:
              type: object
              description: The raw account data received from MX.
            transactions:
              type: array
              description: The raw transaction data received from MX.
              items:
                type: object
        teller:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type teller.
          properties:
            balances:
              type: object
              description: The raw balance data received from Teller.
            transactions:
              type: array
              description: The raw transaction data received from Teller.
              items:
                type: object
        auto_verify:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type auto_verify.
        trusted_provisioner:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type trusted_provisioner.
        standard:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type standard.
          properties:
            number:
              type:
              - string
              - 'null'
              description: The masked card number. Null if the number still needs to be provided.
        pre_auth:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type pre_auth.
          properties:
            number:
              type:
              - string
              - 'null'
              description: The masked card number. Null if the number still needs to be provided.
            exp_month:
              type:
              - string
              - 'null'
              description: The masked card expiration month. Null if it still needs to be provided.
            exp_year:
              type:
              - string
              - 'null'
              description: The masked card expiration year. Null if it still needs to be provided.
            exp_check:
              type:
              - string
              - 'null'
              description: The card expiration verification check result.
              enum:
              - pass
              - fail
              - unavailable
            cvv:
              type:
              - string
              - 'null'
              description: The masked card CVV. Null if it still needs to be provided.
            cvv_check:
              type:
              - string
              - 'null'
              description: The card CVV verification check result.
              enum:
              - pass
              - fail
              - unavailable
            billing_zip_code:
              type:
              - string
              - 'null'
              description: The masked billing zip code.
            billing_zip_code_check:
              type:
              - string
              - 'null'
              description: The billing zip code verification check result.
              enum:
              - pass
              - fail
              - unavailable
            pre_auth_check:
              type:
              - string
              - 'null'
              description: The pre-auth verification check result.
              enum:
              - pass
              - fail
              - unavailable
        network:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type network.
          properties:
            number:
              type:
              - string
              - 'null'
              description: The masked card number. Null if the number still needs to be provided.
            exp_month:
              type:
              - string
              - 'null'
              description: The masked card expiration month. Null if it still needs to be provided.
            exp_year:
              type:
              - string
              - 'null'
              description: The masked card expiration year. Null if it still needs to be provided.
            exp_check:
              type:
              - string
              - 'null'
              description: The card expiration verification check result.
              enum:
              - pass
              - fail
              - unavailable
            cvv:
              type:
              - string
              - 'null'
              description: The masked card CVV. Null if it still needs to be provided.
            cvv_check:
              type:
              - string
              - 'null'
              description: The card CVV verification check result.
              enum:
              - pass
              - fail
              - unavailable
            billing_zip_code:
              type:
              - string
              - 'null'
              description: The masked billing zip code.
            billing_zip_code_check:
              type:
              - string
              - 'null'
              description: The billing zip code verification check result.
              enum:
              - pass
              - fail
              - unavailable
            network_check:
              type:
              - string
              - 'null'
              description: The network verification check result.
              enum:
              - pass
              - fail
              - unavailable
        instant:
          type:
          - object
          - 'null'
          description: Populated when the verification session is of type instant.
          properties:
            number:
              type:
              - string
              - 'null'
              description: The masked card number. Null if the number still needs to be provided.
            exp_month:
              type:
              - string
              - 'null'
              description: The masked card expiration month. Null if it still needs to be provided.
            exp_year:
              type:
              - string
              - 'null'
              description: The masked card expiration year. Null if it still needs to be provided.
            exp_check:
              type:
              - string
              - 'null'
              description: The card expiration verification check result.
              enum:
              - pass
              - fail
              - unavailable
        error:
          $ref: '#/components/schemas/AccountVerificationSessionResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the verification session was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the verification session was last updated.
    AccountExpandableAttribute:
      title: AccountExpandableAttribute
      description: 'The latest attribute ID. This field is expandable. When expanded, returns the full AccountAttribute object.

        '
      oneOf:
      - type: string
        pattern: ^acc_attr_\w+$
      - type: 'null'
      - $ref: '#/components/schemas/AccountAttribute'
    AccountExpandablePaymentInstrument:
      title: AccountExpandablePaymentInstrument
      description: 'The latest payment instrument ID. This field is expandable. When expanded, returns the full AccountPaymentInstrument object.

        '
      oneOf:
      - type: string
        pattern: ^pmt_inst_\w+$
      - type: 'null'
      - $ref: '#/components/schemas/AccountPaymentInstrument'
    AccountExpandableBalance:
      title: AccountExpandableBalance
      description: 'The latest balance ID. This field is expandable. When expanded, returns the full AccountBalance object.

        '
      oneOf:
      - type: string
        pattern: ^bal_\w+$
      - type: 'null'
      - $ref: '#/components/schemas/AccountBalance'
    Account:
      type: object
      description: 'An Account represents a financial account (ACH, liability, clearing, or debit card) associated with an Entity. The `type` field indicates which nested details object (`ach`, `liability`, `clearing`, or `debit_card`) is populated. `type` is null for accounts that are disabled before a type was determined.

        '
      required:
      - id
      - holder_id
      - type
      - status
      - consent_status
      - products
      - restricted_products
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the account.
          pattern: ^acc_\w+$
          example: acc_b9q2XVAnNFbp3
        holder_id:
          type: string
          description: The entity ID that owns this account.
          pattern: ^ent_\w+$
          example: ent_au22b1fbFJbp8
        type:
          type:
          - string
          - 'null'
          description: The type of account. Null for accounts that are disabled before a type was determined.
          enum:
          - ach
          - liability
          - clearing
          - debit_card
          - null
        status:
          type: string
          description: Current status of the account.
          enum:
          - active
          - disabled
          - processing
          - pending_exchange
          - closed
        consent_status:
          type: string
          description: Current consent status for data access on this account.
          enum:
          - pending
          - withdrawn
          - approved
        ach:
          $ref: '#/components/schemas/AccountACH'
        liability:
          $ref: '#/components/schemas/AccountLiability'
        clearing:
          $ref: '#/components/schemas/AccountClearing'
        debit_card:
          $ref: '#/components/schemas/AccountDebitCard'
        error:
          $ref: '#/components/schemas/AccountResourceError'
        metadata:
          $ref: '#/components/schemas/Metadata'
        products:
          type: array
          description: Products currently active for this account.
          items:
            type: string
        restricted_products:
          type: array
          description: Products restricted from this account.
          items:
            type: string
        subscriptions:
          type: array
          description: Subscriptions currently active for this account. Only present for liability accounts.
          items:
            type: string
        available_subscriptions:
          type: array
          description: Subscriptions available to be enrolled for this account. Only present for liability accounts.
          items:
            type: string
        restricted_subscriptions:
          type: array
          description: Subscriptions restricted from this account. Only present for liability accounts.
          items:
            type: string
        latest_verification_session:
          title: AccountExpandableLatestVerificationSession
          description: 'The latest verification session ID. This field is expandable. When expanded, returns the full AccountVerificationSession object.

            '
          oneOf:
          - type: string
            pattern: ^avf_\w+$
          - type: 'null'
          - $ref: '#/components/schemas/AccountVerificationSession'
        balance:
          $ref: '#/components/schemas/AccountExpandableBalance'
        payoff:
          $ref: '#/components/schemas/AccountExpandablePayoff'
        payment_instrument:
          $ref: '#/components/schemas/AccountExpandablePaymentInstrument'
        card_brand:
          $ref: '#/components/schemas/AccountExpandableCardBrand'
        update:
          $ref: '#/components/schemas/AccountExpandableUpdate'
        attribute:
          $ref: '#/components/schemas/AccountExpandableAttribute'
        sensitive:
          $ref: '#/components/schemas/AccountExpandableSensitive'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the account was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the account was last updated.
    AccountACH:
      type:
      - object
      - 'null'
      description: ACH account details. Present when `type` is `ach`.
      properties:
        routing:
          type: string
          description: The ACH routing number.
        number:
          type: string
          description: The ACH account number.
        type:
          type: string
          description: The type of ACH account.
          enum:
          - checking
          - savings
    PaymentResourceError:
      type:
      - object
      - 'null'
      description: Error details when a payment fails or is canceled.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of payment error.
          enum:
          - PAYMENT_FAILED
          - PAYMENT_CANCELED
        code:
          type: integer
          description: Numeric error code (10XXX range).
          enum:
          - 10001
          - 10002
          - 10003
          - 10004
          - 10005
          - 10006
          - 10007
          - 10008
          - 10009
          - 10010
        sub_type:
          type: string
          description: Specific payment error classification.
          enum:
          - PAYMENT_INSUFFICIENT_FUNDS
          - PAYMENT_UNAUTHORIZED
          - PAYMENT_INVALID_ACCOUNT
          - PAYMENT_UNAUTHORIZED_SOURCE
          - PAYMENT_UNAUTHORIZED_DESTINATION
          - PAYMENT_INVALID_SOURCE_ACCOUNT
          - PAYMENT_INVALID_DESTINATION_ACCOUNT
          - PAYMENT_REJECTED_BY_DESTINATION_INSTITUTION
          - PAYMENT_REJECTED_INVALID_AMOUNT
        message:
          type: string
          description: Human-readable error description.
      example:
        type: PAYMENT_FAILED
        code: 10001
        sub_type: PAYMENT_INSUFFICIENT_FUNDS
        message: Payment failed due to insufficient funds from the source account.
    AccountExpandablePayoff:
      title: AccountExpandablePayoff
      description: 'The latest payoff ID. This field is expandable. When expanded, returns the full AccountPayoff object.

        '
      oneOf:
      - type: string
        pattern: ^pyf_\w+$
      - type: 'null'
      - $ref: '#/components/schemas/AccountPayoff'
    SuccessEnvelope:
      type: object
      description: Standard envelope for successful responses that return a single payload.
      required:
      - success
      - data
      - message
      properties:
        success:
          type: boolean
          description: Always `true` for successful responses.
        data:
          description: Operation-specific response payload.
        message:
          type:
          - string
          - 'null'
      example:
        success: true
        data: {}
        message: null
    Metadata:
      type:
      - object
      - 'null'
      additionalProperties: true
      description: Arbitrary key-value metadata attached to the resource.
    PayoffResourceError:
      type:
      - object
      - 'null'
      description: Error details when a payoff sync fails.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of payoff error.
          enum:
          - PAYOFF_FAILED
        code:
          type: integer
          description: Numeric error code (18XXX range).
          enum:
          - 18001
        sub_type:
          type: string
          description: Specific payoff error classification.
          enum:
          - PAYOFF_TEMPORARILY_UNAVAILABLE
        message:
          type: string
          description: Human-readable error description.
      example:
        type: PAYOFF_FAILED
        code: 18001
        sub_type: PAYOFF_TEMPORARILY_UNAVAILABLE
        message: Payoff is temporarily unavailable for this account.
    AccountBalance:
      type: object
      description: A balance record for an account.
      required:
      - id
      - account_id
      - status
      - amount
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the balance.
          pattern: ^bal_\w+$
          example: bal_dKe9ehC3hEBYy
        account_id:
          type: string
          description: The account this balance belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the balance request.
          enum:
          - completed
          - pending
          - failed
        amount:
          type:
          - number
          - 'null'
          description: The balance amount in cents.
        error:
          $ref: '#/components/schemas/BalanceResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the balance was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the balance was last updated.
    PaymentResponse:
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/Payment'
    MerchantProviderIds:
      type: object
      properties:
        plaid:
          type: array
          items:
            type: string
        mx:
          type: array
          items:
            type: string
        finicity:
          type: array
          items:
            type: string
        dpp:
          type: array
          items:
            type: string
        rpps:
          type: array
          items:
            type: string
    AccountResourceError:
      type:
      - object
      - 'null'
      description: Error details when an account is disabled.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of account error.
          enum:
          - ACCOUNT_DISABLED
        code:
          type: integer
          description: Numeric error code (11XXX range).
          enum:
          - 11001
          - 11002
          - 11003
          - 11004
          - 11005
          - 11006
        sub_type:
          type: string
          description: Specific account error classification.
          enum:
          - ACCOUNT_INVALID_DETAILS
          - ACCOUNT_UNAUTHORIZED_PAYMENT
          - ACCOUNT_CLOSED
          - ACCOUNT_CONSENT_WITHDRAWN
          - ACCOUNT_DISABLED_INVALID_STATE
          - ACCOUNT_DISABLED_HOLDER_ENTITY_DISABLED
        message:
          type: string
          description: Human-readable error description.
      example:
        type: ACCOUNT_DISABLED
        code: 11001
        sub_type: ACCOUNT_INVALID_DETAILS
        message: Account was disabled due to invalid information reported by the financial institution.
    UpdateResourceError:
      type:
      - object
      - 'null'
      description: Error details when an account update fails.
      required:
      - type
      - code
      - sub_type
      - message
      properties:
        type:
          type: string
          description: The category of update error.
          enum:
          - UPDATE_FAILED
        code:
          type: integer
          description: Numeric error code (21XXX range).
          enum:
          - 21001
        sub_type:
          type: string
          description: Specific update error classification.
          enum:
          - UPDATE_TEMPORARILY_UNAVAILABLE
        message:
          type: string
          description: Human-readable error description.
      example:
        type: UPDATE_FAILED
        code: 21001
        sub_type: UPDATE_TEMPORARILY_UNAVAILABLE
        message: Update is temporarily unavailable for this account.
    Payment:
      type: object
      description: A Payment represents a transfer of funds between two accounts.
      required:
      - id
      - source
      - destination
      - amount
      - status
      - type
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the payment.
          pattern: ^pmt_\w+$
          example: pmt_rPrDPEwyCVUcm
        reversal_id:
          type:
          - string
          - 'null'
          description: Identifier of the associated reversal, if any.
          pattern: ^rvs_\w+$
        reversal_account:
          type:
          - string
          - 'null'
          description: Account ID used for the reversal leg of the payment.
          pattern: ^acc_\w+$
        payment_instrument:
          type:
          - string
          - 'null'
          description: Identifier of the payment instrument used to create this payment, if any.
          pattern: ^pmt_inst_\w+$
          example: pmt_inst_aTJMbnCjw34yQ
        source_trace_id:
          type:
          - string
          - 'null'
          description: Trace identifier for the source side of the payment.
        destination_trace_id:
          type:
          - string
          - 'null'
          description: Trace identifier for the destination side of the payment.
        source:
          title: PaymentExpandableSource
          description: 'The source account ID. This field is expandable. When expanded, returns the full Account object.

            '
          anyOf:
          - type: string
            pattern: ^acc_\w+$
          - type: 'null'
          - $ref: '#/components/schemas/Account'
        destination:
          title: PaymentExpandableDestination
          description: 'The destination account ID. This field is expandable. When expanded, returns the full Account object.

            '
          anyOf:
          - type: string
            pattern: ^acc_\w+$
          - type: 'null'
          - $ref: '#/components/schemas/Account'
        amount:
          type: integer
          description: Payment amount in cents.
          minimum: 0
          example: 5000
        description:
          type:
          - string
          - 'null'
          description: Human-readable description for the payment.
        status:
          type: string
          description: Current status of the payment.
          enum:
          - pending
          - processing
          - sent
          - posted
          - settled
          - failed
          - reversed
          - canceled
          - cashed
        fund_status:
          type:
          - string
          - 'null'
          description: The current status of the payment funds.
          enum:
          - transmitting
          - transmitted
          - requested
          - clearing
          - pending
          - hold
          - sent
          - posted
          - cashed
          - unknown
          - pending_consolidation
          - pending_clearing
          - failed
          - null
        estimated_completion_date:
          type:
          - string
          - 'null'
          format: date
          description: Estimated date when the payment will be completed (YYYY-MM-DD).
        source_settlement_date:
          type:
          - string
          - 'null'
          format: date
          description: The expected or actual settlement date for the source side of the payment.
        destination_settlement_date:
          type:
          - string
          - 'null'
          format: date
          description: The expected or actual settlement date for the destination side of the payment.
        source_status:
          type:
          - string
          - 'null'
          description: The status of the source side of the payment.
        destination_status:
          type:
          - string
          - 'null'
          description: The status of the destination side of the payment.
        destination_payment_method:
          type:
          - string
          - 'null'
          description: The payment method used for the destination.
        fee:
          type:
          - object
          - 'null'
          description: Fee associated with the payment.
          required:
          - type
          - amount
          properties:
            type:
              type: string
              description: The fee type.
              enum:
              - total
            amount:
              type: integer
              description: Fee amount in cents.
              minimum: 0
        type:
          type: string
          description: The type of payment.
          enum:
          - standard
          - clearing
        error:
          $ref: '#/components/schemas/PaymentResourceError'
        metadata:
          $ref: '#/components/schemas/Metadata'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the payment was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the payment was last updated.
    AccountPayoff:
      type: object
      description: A payoff record for an account.
      required:
      - id
      - account_id
      - status
      - amount
      - term
      - per_diem_amount
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: Unique identifier for the payoff.
          pattern: ^pyf_\w+$
          example: pyf_dKe9ehC3hEBYy
        account_id:
          type: string
          description: The account this payoff belongs to.
          pattern: ^acc_\w+$
        status:
          type: string
          description: Current status of the payoff request.
          enum:
          - completed
          - pending
          - failed
        amount:
          type:
          - number
          - 'null'
          description: The payoff amount in cents.
        term:
          type:
          - number
          - 'null'
          description: Number of days the payoff amount is valid.
        per_diem_amount:
          type:
          - number
          - 'null'
          description: Per diem interest amount in cents.
        error:
          $ref: '#/components/schemas/PayoffResourceError'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the payoff was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the payoff was last updated.
    ErrorObject:
      type: object
      required:
      - type
      - code
      - message
      properties:
        type:
          type: string
          description: Error type category.
          enum:
          - invalid_request
          - api_error
          - resource_error
        code:
          type: integer
          description: Numeric error code. Common codes include 400 (bad request), 401 (unauthorized), 403 (forbidden), 404 (not found), 422 (unprocessable entity), 429 (rate limited), and 500 (internal error).
        sub_type:
          type:
          - string
          - 'null'
          description: More specific error classification.
        message:
          type: string
          description: Human-readable error description.
    PaymentResponse_2:
      type: object
      properties:
        id:
          type: string
        source:
          type: string
        destination:
          type: string
        amount:
          type: integer
        description:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - sent
          - settled
          - failed
          - reversed
          - canceled
        error:
          type:
          - object
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PaymentListResponse_2:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentResponse_2'
    PaymentCreateRequest_2:
      type: object
      required:
      - amount
      - source
      - destination
      properties:
        amount:
          type: integer
          description: Amount in cents (100 to 100000000).
          minimum: 100
          maximum: 100000000
        source:
          type: string
          description: Source account ID.
        destination:
          type: string
          description: Destination account ID.
        description:
          type: string
          maxLength: 10
        metadata:
          type: object
  responses:
    Unauthorized:
      description: Unauthorized - missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: Too many requests - rate limit exceeded.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    BadRequest:
      description: Bad request - invalid parameters or request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Not found - the requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    UnprocessableEntity:
      description: Unprocessable entity - the request was valid JSON but failed business or validation rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  parameters:
    PageLimitParam:
      name: page_limit
      in: query
      required: false
      description: Number of items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    PaymentIdParam:
      name: paymentId
      in: path
      required: true
      description: Unique identifier for the payment.
      schema:
        type: string
        pattern: ^pmt_\w+$
    ToDateParam:
      name: to_date
      in: query
      required: false
      description: Filter results to this date (inclusive, YYYY-MM-DD format).
      schema:
        type: string
        format: date
    PageCursorParam:
      name: page_cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination. Use the value from `Pagination-Page-Cursor-Next` or `Pagination-Page-Cursor-Prev` response headers.
      schema:
        type: string
    idempotency_key:
      name: Idempotency-Key
      in: header
      required: false
      description: 'Idempotency key for safely retrying a write request. Reuse the same value when

        retrying the same logical operation to avoid creating duplicate side effects.

        '
      schema:
        type: string
        format: uuid
    expand_payments:
      name: expand
      in: query
      required: false
      description: 'Expand payment source or destination accounts inline. Nested account expansion

        is supported for latest verification sessions on the source or destination.

        '
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
          - source
          - destination
          - source.latest_verification_session
          - destination.latest_verification_session
    method_version:
      name: Method-Version
      in: header
      required: true
      description: 'API version to use for this request. This spec targets `2025-12-01`.

        The SDK sets this header automatically.

        '
      schema:
        type: string
        enum:
        - '2025-12-01'
        default: '2025-12-01'
    FromDateParam:
      name: from_date
      in: query
      required: false
      description: Filter results from this date (inclusive, YYYY-MM-DD format).
      schema:
        type: string
        format: date
    PageParam:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-indexed).
      schema:
        type: integer
        minimum: 1
        default: 1
    PaymentId:
      name: pmt_id
      in: path
      required: true
      schema:
        type: string
      description: The payment identifier (e.g. pmt_xxx).
    PageLimit:
      name: page_limit
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 100
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
  securitySchemes:
    OpalToken:
      type: http
      scheme: bearer
      description: 'Opal token authentication for Opal session endpoints. Use an Opal token (`otkn_...`)

        as the Bearer token. Created via POST /opal/token using a secret key.

        '
    SecretKey:
      type: http
      scheme: bearer
      description: 'Secret key authentication. Use your team''s secret key (`sk_...`) as the Bearer token.

        All authenticated API endpoints require this scheme unless otherwise noted.

        '
    bearerAuth:
      type: http
      scheme: bearer
      description: Provide your Method API key as a Bearer token in the Authorization header. Optionally send a Method-Version header (e.g. 2026-03-30).
x-refined-from:
- methodfi-openapi-original.yml
- methodfi-openapi.yml
